h1 { 
	background-color: #FF9900;
	width: 220px;
	border: 15px groove red;
	margin: 55px;
	height: 85px;
	font-family:Impact, fantasy; 
	font-size: 30px;  
	font-weight: normal;
}
nav {
	background-color: yellow;
	width:200px;
	border: 5px dotted black;
	padding: 30px;
	margin:15px;
	height:50px;
	font-family:Impact, fantasy; 
}
h2 {
	background-color:#FFFF99;
	width:200px;
	border: 10px ridge #66FF66;
	padding:15px;
	height: 35px;
 	font-family: "Times New Roman", Times, serif;
}
table > thead { 
		background-color:#66FF66; 
}
table  tbody {	
		background-color: #33FFFF;
}
table + h2 {
		background-color:#FFCCCC;
		border: 5px inset red;
}
table tfoot {
		background-color:#CC33CC;
}
nav ~ footer { 
		background-color: yellow;
}
footer {
	width:250px;
	border: 5px dashed black;
	margin:5px;
	height:50px;
}
table { 
	border: 5px solid black; 
}
html {
	border-style:dashed;
	background-color:#9999FF;
}

