header {
	background:red;
        padding: 50px 30px 50px 80px;
        width:300px

}
h1 { 
	  border: 2px solid yellow;
         
}
header > p{
           color:black;
           background-color: red;
 
}
footer{
	border: 10px dashed blue; 
	padding:10px; 
}
p1 {
	background:red;
        padding: 50px 30px 50px 80px;
        width:700px
}
nav { 	
	 border: 1px solid black;
	 margin: 75px;
         width: 1000px;
        padding: 10px;
}
main {
	background-color: #A9A9A9;
	margin: 45px; 
}
p {
        background-color: white;
}
p + p {
        background-color: black;
        color: white;
}
table { 
	border: 5px; 
}
thead { 
       background-color:yellow;  
       border-bottom:solid;
       border-bottom-color:green;
       
}
tbody td{ 
	background: white; 
	text-align: center;
	border-collapse: collapse;
	width: 30%;
}

tbody th{
        color: red;
}
