h1 {
	font-family:Impact, fantasy; 
	font-size: 70px;  
	font-weight: normal;
	font-variant: small-caps;
	color:#CC33FF;
	border-style:groove dotted; 
	border-width: 10px;
	border-color: red green blue yellow;
	background-color:#CCCCCC;
}
body { 
	background-color:#33FFFF;
}
title { 
	font-family: "Times New Roman", Times,serif;
	font-size: 30px; 
	color:#6633CC;
	border-style:inset;
	background-color:#99CCFF;
}
p {
	font-family:Impact, fantasy;
	font-size: 35px;
	color:#CC66CC;
	border-style:outset;
	background-color:#CCFFCC
}
footer {
	font-family:Impact, fantasy; 
	font-size: 23px;  
	font-weight: normal;
	color:#FF3333;
	border-style:dotted; 
	border-width: 10px;
	border-color:#FF0033 #993399 #CCDDCC #6633CC;
	background-color:#CCCCCC;
}
h2 	{
	font-family: Andale Mono, monospace;
	font-size: 45px;
	color:#FF6666;
	border-style: dashed;
	background-color: #FFFFFF; 
}
html {
	border-style:dashed;
	background-color:#0099FF;
}
h4 {
	border: 15px groove yellow; 
	background-color:yellow;
}
ul {
	border: 5px dashed red;
	background-color:#9999FF;
}
h3 {
	border: 10px dotted black;
	background-color:white;
}
nav {
	border: 10px outset yellow;
}
li + ul {
	border: 10px outset yellow;
}
